.favorite-page-header-favorite-count-clear-button {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 1.5vw;
  margin-bottom: 3vw;
}

.showFavoriteCount {
  text-decoration: none;
  margin-left: 2vw !important;
  box-shadow: 0px 3px 1px -2px #1976d2, 0px 2px 2px 0px #1976d2,
    0px 1px 5px 0px #1976d2 !important;
  border-radius: 1vw !important;
  border: 0px !important;

  /* animation: myAnim 2s ease 0s 1 normal forwards; */
}

.favorite-page-clear-button {
  background-color: #1976d2;
  color: white;
  margin-right: 4vw !important;
  box-shadow: 0px 3px 1px -2px #1976d2, 0px 2px 2px 0px #1976d2,
    0px 1px 5px 0px #1976d2 !important;
  border-radius: 1vw !important;
  border: 0px !important;
}

.favorite-page-head-line {
  color: whitesmoke;
  padding-bottom: 2vw;
}

#empty-notification{
    color: white;
    height: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
