
.head-line{
    margin: 0;
    padding-top: 4vw;
    color: whitesmoke;
}

.show-Favorite-Count-link{
  text-decoration: none;
  margin-left: 2vw !important;
  animation: myAnim 2s ease 0s 1 normal forwards;
}

.show-Favorite-Count-button {
  margin-right: 4vw !important;
  border-radius: 1vw !important;
  border: 0px !important;
  

}

.showRecipeCount {
  background-color: #1976d2;
  margin-right: 4vw !important;
  border-radius: 1vw !important;
  border: 0px !important;


}

.header-favorite-count-recipe-count {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5vw;
  width: 100%;
  /* position: fixed; */
  /* z-index: 3;
  top: 0; */

}

#notFound{
  color: whitesmoke;
}

@keyframes myAnim {
  0%,
  100% {
    transform: translateX(0);
  }

  20%, 60% {
    transform: translateX(-10px);
  }

  40%, 80% {
    transform: translateX(10px);
  }
}
