#card-container {
  width: 20vw;
  height: 21vw;
  margin: 1.5vw;
  padding: 0 !important;
  transition: 1500ms;
  background-color: transparent;
}

#card-container:hover .card{
  transform: rotateY(180deg);
}

.card {
  width: 100%;
  height: 100%;

  font-family: "Courier New", Courier, monospace;
  border: 0.20vw solid gray;
  border-radius: 0.6vw;

  font-size: 0.1vw !important;

  transform-style: preserve-3d;
  transition: transform 1500ms;
  cursor: pointer;
  position: relative;
}


.card-faces{
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  overflow: hidden;

  /* box-shadow: 0 0 5.5vw 5.2vw rgba(0, 0, 0, 0.25); */
  
}

/* .contant { */
  /* padding: 0 !important; */
/* } */

.front-side-of-card {
  background-image: linear-gradient(to right, rgb(31, 201, 31), rgb(0, 153, 255));
  color: white;
}


#head-line-of-card {
  min-height: 4vw;
  font-size: 1.2vw;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 4vw;
  font-family: inherit;
}

#image {
  text-align: center;
  width: 100%;
  height: auto;
}

.back-side-of-card {
  /* background-image: linear-gradient(to bottom right, yellow 10%, red 115%); */
  background-image: linear-gradient(to right, rgb(31, 201, 31), rgb(0, 153, 255));
  transform: rotateY(180deg);
}


.favorite-buttons {
  font-size: 1vw !important;
  border: 0.3vw solid white !important;
  color: whitesmoke;
  margin-top: 0.5vw !important;
  margin-bottom: 0.7vw !important;
  border-radius: 2vw;
  text-decoration: none !important;
}

.ingredients-button {
  font-size: 1vw !important;
  border: 0.3vw solid white !important;
  color: whitesmoke;
  margin-bottom: 0.5vw !important;
  border-radius: 2vw;
}

.ingredients-link{
  text-decoration: none !important;
}