.inputs{
    min-width: 20vw !important;
    min-height: 2vw !important;

    width: auto;
    margin-bottom: 2vw;

    /* background-color: #1976d2; */
    background-image: linear-gradient(to right bottom, rgb(7, 247, 7), rgb(0, 153, 255));
    border-radius: 0.4vw;

    color: white !important;
    border: 0px !important;


  
}



#inputDiv{
    margin-bottom: 3vw;
    margin-top: 3vw;
    display: flex;
    justify-content: space-around;
    color: white !important;

}

#formDiv{
    /* margin-bottom: 3vw; */
    padding-bottom: 4vw;
}
