.App {
  text-align: center;
  /* box-sizing: border-box; */
  max-width: 100vw;
  min-height: 100vh;
  height: auto;
  overflow-x: hidden;
  background: linear-gradient(to bottom, rgb(0, 0, 0) 0%, #3c79b6 25%,  #1976d2 60%, #19d251 90%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bottom-bar{
  /* position: absolute; */
  position: static;
  bottom: 0;
  width: 100%;
  height: 8vw;
  background-color: black;
  color: whitesmoke;

  display: flex;
  align-items: center;
  justify-content: start;
}

.copyRight{
  margin: 0;
  margin-left: 3vw;
}